<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AKASH GUPTA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS + JAVA SCRIPT + BOOTSTRAP ke use krne ke lie link start-->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <!--CSS + JAVA SCRIPT + BOOTSTRAP ke use krne ke lie link start-->
<!--Font Awsm ke use krne ke lie link start-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Font Awsm ke use krne ke lie link end-->

</head>


<!--Navigation Bar start-->
<nav class="navbar navbar-expand-sm bg-black sticky-top ">
    <!--Navigation Bar content Brand image-->
    <a href="{% url 'homepage'%}"><img src="static/images/snake.jpg" style="margin-left:-10px; width:200px;height:50px;border-radius:0px 0px 90px 90px"></a>
    <!--Navigation Bar content Brand image-->

        <!--Navigation Bar item 1 Start-->
    <ul class="navbar-nav">
     <li class="nav-item" style="margin-left:20px">
              <a class="nav-link active" href="#professional" style="color:green">PROFESSIONAL</a>
    </li>


   </ul>
     <!--Navigation Bar item 1 END-->
<!-- Toggle Button start-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
<!-- Toggle Button end-->

    <!--Navigation Bar item 2 Start-->
<ul class="navbar-nav" style="margin-left:730px">
    <!-- Social Media Link -->
        <div >
            <span>
                <span >
                    <i> <a href="https://www.linkedin.com/in/akash-kumar-62583115a/"class="fa fa-linkedin " style="color: green"></a></i>
                    <i><a href="https://github.com/akashgupta77500"class="fa fa-github pl-2"style="color: white"></a></i>
                    <i> <a href="https://www.facebook.com/profile.php?id=100004607498487"class="fa fa-facebook pl-2" style="color: green"></a></i>
                    <i> <a href="https://www.instagram.com/akash77500/"class="fa fa-instagram pl-2" style="color: green"></a></i>

              </span>
            </span>
        </div>
    <!-- Social Media Link  -->
</ul>
    <!--Navigation Bar item 2 END-->
</nav>
<!--Navigation Bar End-->



<body style="background-color:black;color:white;">

<!--Typing effect in text start-->
<div  class="typewriter" style="position:fixed; font-family:serif">
   <div class="typewriter-text">
       <h2 style="margin-left:500px">PYTHON + <span style="color:green">DJANGO</span></h2>

<!--Text to speach part start-->


   <form method="post"  action="{% url 'resumeread' %}" >
    {% csrf_token %}
    <input type="text" name="honey"
           value="Hello, its my pleasure to introduce myself. My name is akash gupta from gopalganj district Bihar.
    I have done my B-Tech in mechanical branch from People's University, bhopal with an aggregate of 73.7% . My 12th
    class % is 58.6% with NIOS board . My 10th class percentage is 74.1% with CBSE board . My strengths are: i am self
    disciplined and punctual . I am highly motivated and eager to learn new methodology and technology . I am always willing
    to innovate new things which can improve the existing technology . I can adopt easily in any type environment .
    I have ability to work in individual as well as in group . My short term goal was to start my carer as soon as
    possible, after my college . So, I have 3 years of experience in Flipkart process in non technical field .
    Now i want to switch my career from non-technical field to technical field . I had left my job on 6th February, 2021 .
    I have good knowledge of Python basics to advanced level, also i am expert in Django framework which is used for
    web development . I am a full stalk developer, for frontend, i know HTML, CSS, BOOTSTRAP . My long term goal is I want
    start my career in technical field and to be one of the reason for the success of the organization. My ethics is
    I never neglect an opportunity for my improvement . You can contact me on my number 7004166578. and
     also, mail me on , akashgupta77500@gmail.com . My current location is GB Palya, bengaluru . That's all about me .
     Thanks for listening . Have a good day . "

      style="margin-left:600px;display:none">
       <button type="submit" class="btn btn-warning" style="margin-left:540px;margin-top:60px;font-size:50px;position:fixed">HIRE ME</button>
   </form>

 <!--Text to speach form End-->

    <h1 style="font-size:90px;margin-left:70px;margin-top:130px">I<span style="color:green;margin-left:12px">'</span> <span style="color:green;margin-left:-5px">M</span></h1>
    <h1 style="font-size:80px;margin-left:45px;margin-top:-40px;">
        <span style="color:green;margin-left:px;font-size:110px">A</span>
        <span >K</span>
        <span style="color:green">A</span>
        <span >S</span>
        <span style="color:green">H</span>
        <span style="margin-left:10px">G</span>
        <span style="color:green">U</span>
        <span >P</span>
        <span style="color:green">T</span>
        <span >A</span>
        <span style="color:green">.</span>
    </h1>

<h6 style="font-size:29px;margin-left:60px;color:green;margin-top:-20px;">
    <span style="color:white;font-size:31px">W</span>
    <span> EB DESIGNER,</span>
    <span style="color:white;font-size:31px">W</span>
    <span >EB DEVELOPER,</span>
    <span style="color:white;font-size:31px">P</span>
    <span>YTHON DEVELOPER.</span>

    </p>
</h6>
</div>
</div>
<!--Typing effect in text END-->



<!--MY Image Start-->

 <img src="static/images/5.png" style="width:400px;margin-left:950px;margin-top:-120px;border-radius:50px 0px 0px 50px; opacity: 0.3;">
<!--MY Image END-->

</body>
</html>


    <!--Footer BOX Start-->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
}

.fa {font-size:50px;}
</style>
</head>
<body>



<div class="row">
  <div class="column">
    <div class="card">
      <p><i> <img src="static/images/icon.png"style="width:90px;height;90px"></i></p>
      <h3>80%</h3>
      <p>PYTHON</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i><img src="static/images/django.jpg"style="width:90px;height;90px"></i></p>
      <h3>90%</h3>
      <p>DJANGO</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i><img src="static/images/ht.jpg"style="width:100px;height;100px"></i></p>
      <h3>100%</h3>
      <p>HTML+CSS</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i><img src="static/images/bootstrap.png"style="width:90px;height;90px"></i></p>
      <h3>100%</h3>
      <p>BOOTSTRAP</p>
    </div>
  </div>
</div>

</body>
</html>
    <!--Footer BOX Start-->

    <!--Typing effect ka css code start(div class="typewriter" and <div class="typewriter-text">)used in html-->
<style>
.typewriter {
    font-family: Courier, monospace;
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 1px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }
    to {
        width: 100%
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}
    </style>
    <!--Typing effect ka css code End-->


    <!--PROFESSIONAL KNOWLEDGE Start-->


<div class="card" id="professional">
  <h1 style="font-family:serif"><b>01 PROFESSIONAL</b></h1>
  <h6 >MY KNOWLEDGE LEVEL IN SOFTWARE</h6>
    <br>

    <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/python.png"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">PYTHON</b>
    <div class="progress-bar bg-success progress-bar-striped" style="width:70%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">80%</b>
   </div>
  <br><br>

     <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/django.jpg"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">DJANGO</b>
    <div class="progress-bar bg-danger progress-bar-striped" style="width:80%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">90%</b>
   </div>
  <br><br>

    <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/html.png"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">HTML</b>
    <div class="progress-bar bg-warning progress-bar-striped" style="width:90%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">100%</b>
   </div>
  <br><br>

  <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/css.png"style="width:50px;height;60px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">CSS</b>
    <div class="progress-bar bg-danger progress-bar-striped" style="width:100%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">100%</b>
   </div>
  <br><br>

  <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/bootstrap.png"style="width:30px;height;80px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">BOOTSTRAP</b>
    <div class="progress-bar bg-success progress-bar-striped" style="width:65%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">80%</b>
   </div>
  <br><br>
</div>


<!--PROFESSIONAL KNOWLEDGE end-->



<nav class="navbar navbar-expand-sm bg-success "style="margin-left:480px;height:40px;width:400px;border-radius:15px 15px 0px 0px">
    <i class="fa fa-phone-square"style="font-size:15px;margin-left:-10px"> </i><h6 style="margin-left:17px; margin-top:10px">7004166578</h6></div>
    <i class="fa fa-envelope-o"style="font-size:15px;margin-left:20px"> </i><h6 style="margin-left:20px;margin-top:10px">akashgupta77500@gmail.com</h6>
</nav>

