<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFESSIONAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS + JAVA SCRIPT + BOOTSTRAP ke use krne ke lie link start-->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <!--CSS + JAVA SCRIPT + BOOTSTRAP ke use krne ke lie link start-->
<!--Font Awsm ke use krne ke lie link start-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Font Awsm ke use krne ke lie link end-->
</head>
<body style="background-color:black;color:white;">

<!--Navigation Bar start-->
<nav class="navbar navbar-expand-sm bg-black sticky-top ">
    <!--Navigation Bar content Brand image-->
    <a href="{% url 'homepage' %}"><img src="static/images/snake.jpg" style="margin-left:-10px; width:200px;height:50px;border-radius:0px 0px 90px 90px"></a>
    <!--Navigation Bar content Brand image-->

        <!--Navigation Bar item 1 Start-->
    <ul class="navbar-nav">
     <li class="nav-item" style="margin-left:20px;font-size:18px">
         <a class="nav-link active" href="{% url 'professional' %}" style="color:green">PROFESSIONAL</a>
    </li>

     <li class="nav-item" style="margin-left:20px;font-size:18px">
        <a href="{% url 'project' %}" class="nav-link active"  style="color:green">PROJECT</a>
    </li>
   </ul>
     <!--Navigation Bar item 1 END-->
<!-- Toggle Button start-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Toggle Button end-->

    <!--Navigation Bar item 2 Start-->
<ul class="navbar-nav" style="margin-left:666px">
    <!-- Social Media Link -->
        <div >
            <span>
                <span >
                    <i> <a href="https://www.linkedin.com/in/akash-kumar-62583115a/"class="fa fa-linkedin " style="color: green;font-size:50px"></a></i>
                    <i><a href="https://github.com/akashgupta77500"class="fa fa-github pl-2"style="color: white;font-size:50px"></a></i>
                    <i> <a href="https://www.facebook.com/profile.php?id=100004607498487"class="fa fa-facebook pl-2" style="color: green;font-size:50px"></a></i>
                    <i> <a href="https://www.instagram.com/akash77500/"class="fa fa-instagram pl-2" style="color: green;font-size:50px"></a></i>

              </span>
            </span>
        </div>
    <!-- Social Media Link  -->
</ul>
    <!--Navigation Bar item 2 END-->
</nav>

<!--Navigation Bar End-->
<div class="card"style="background-color:black;text-align:center">
  <h1 style="font-family:serif"><b>01 PROFESSIONAL</b></h1>
  <h6 >MY KNOWLEDGE LEVEL IN SOFTWARE</h6>
    <br>

    <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/python.png"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">PYTHON</b>
    <div class="progress-bar bg-success progress-bar-striped" style="width:70%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">80%</b>
   </div>
  <br><br>

     <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/django.jpg"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">DJANGO</b>
    <div class="progress-bar bg-danger progress-bar-striped" style="width:80%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">90%</b>
   </div>
  <br><br>

    <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/mysql.png"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:25px;margin-top:17px">MYSQL</b>
    <div class="progress-bar bg-warning progress-bar-striped" style="width:80%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">80%</b>
   </div>
  <br><br>

    <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/html.png"style="width:30px;height;30px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">HTML</b>
    <div class="progress-bar bg-warning progress-bar-striped" style="width:90%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">100%</b>
   </div>
  <br><br>

  <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/css.png"style="width:50px;height;60px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">CSS</b>
    <div class="progress-bar bg-danger progress-bar-striped" style="width:100%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">100%</b>
   </div>
  <br><br>

  <div class="progress" style="height:30px;margin-left:20px">
        <div style="height:50px"><p><i><img src="static/images/bootstrap.png"style="width:30px;height;80px;"></i></p></div>
      <b style="color:green;font-size:30px;margin-top:17px">BOOTSTRAP</b>
    <div class="progress-bar bg-success progress-bar-striped" style="width:65%"></div>
        <b style="color:green;font-size:30px;margin-top:17px">80%</b>
   </div>
  <br><br>
</div>


<!--PROFESSIONAL KNOWLEDGE end-->



<nav class="navbar navbar-expand-sm bg-success "style="margin-left:480px;height:40px;width:400px;border-radius:15px 15px 0px 0px">
    <i class="fa fa-phone-square"style="font-size:15px;margin-left:-10px"> </i><h6 style="margin-left:17px; margin-top:10px">7004166578</h6></div>
    <i class="fa fa-envelope-o"style="font-size:15px;margin-left:20px"> </i><h6 style="margin-left:20px;margin-top:10px">akashgupta77500@gmail.com</h6>
</nav>



</body>
</html>